[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "submodules/liquidprompt"]
	path = submodules/liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
[submodule "submodules/zsh-autoenv"]
	path = submodules/zsh-autoenv
	url = https://github.com/Tarrasch/zsh-autoenv.git
