[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "submodules/liquidprompt"]
	path = submodules/liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
[submodule "submodules/zimfw"]
	path = submodules/zimfw
	url = https://github.com/zimfw/zimfw.git
[submodule "submodules/spaceship-prompt"]
	path = submodules/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
[submodule "submodules/prezto"]
	path = submodules/prezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "submodules/oh-my-zsh"]
	path = submodules/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "submodules/base16-shell"]
	path = submodules/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "submodules/powerline"]
	path = submodules/powerline
	url = https://github.com/powerline/powerline.git
