
keybinds {
    // global
    unbind "Ctrl b" // unbind default tmux key
    unbind "Ctrl q"

    normal clear-defaults=true {
      // add back some bindings
      bind "Ctrl a" { SwitchToMode "Tmux"; }
      bind "Alt h" { MoveFocusOrTab "Left"; }
      bind "Alt j" { MoveFocus "Down"; }
      bind "Alt k" { MoveFocus "Up"; }
      bind "Alt l" { MoveFocusOrTab "Right"; }
    }
    tmux clear-defaults=true {
        // add my preferred tmux bindings
        bind "Ctrl a" { Write 2; SwitchToMode "Normal"; }
        bind "[" { SwitchToMode "Scroll"; }
        bind "]" { EditScrollback; SwitchToMode "Normal"; }
        // pane
        bind "-" "_" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "s"  "|" "\\" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "x" { CloseFocus; SwitchToMode "Normal"; }
        bind "z" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "h" { MoveFocus "Left"; }
        bind "j" { MoveFocus "Down"; }
        bind "k" { MoveFocus "Up"; }
        bind "l" { MoveFocus "Right"; }
        bind "o" { FocusNextPane; }
        // tab
        bind "c" { NewTab; SwitchToMode "Normal"; SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "X" { CloseTab; SwitchToMode "Normal"; }
        bind "H" "p" { GoToPreviousTab; }
        bind "L" "n" "Tab" { GoToNextTab; }
        bind "1" { GoToTab 1; SwitchToMode "Normal"; }
        bind "2" { GoToTab 2; SwitchToMode "Normal"; }
        bind "3" { GoToTab 3; SwitchToMode "Normal"; }
        bind "4" { GoToTab 4; SwitchToMode "Normal"; }
        bind "5" { GoToTab 5; SwitchToMode "Normal"; }
        bind "6" { GoToTab 6; SwitchToMode "Normal"; }
        bind "7" { GoToTab 7; SwitchToMode "Normal"; }
        bind "8" { GoToTab 8; SwitchToMode "Normal"; }
        bind "9" { GoToTab 9; SwitchToMode "Normal"; }
        // session
        bind "d" { Detach; }
        bind "w" {
            LaunchOrFocusPlugin "zellij:session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Normal"
        }
        bind "Ctrl q" { Quit; }
        // other
        bind "Space" { NextSwapLayout; }
        // switch to other modes
        bind "Enter" "Esc" { SwitchToMode "Normal"; }
        bind "Ctrl p" { SwitchToMode "Pane"; }
        bind "Ctrl t" { SwitchToMode "Tab"; }
        bind "Ctrl r" { SwitchToMode "Resize"; }
        bind "Ctrl s" { SwitchToMode "Scroll"; }
        bind "Ctrl o" { SwitchToMode "Session"; }
        bind "Ctrl m" { SwitchToMode "Move"; }
    }
    shared_except "tmux" {
        bind "Ctrl a" { SwitchToMode "Tmux"; }
    }
}
// set the theme
theme "nord"
